<!doctype html>
<html>
  <head>
    <title>D&D MVC</title>
  </head>
  <body>
    <h1>D&D MVC: Making Various Characters for Dungeons & Dragons</h1>
    <%if session[:user_id] != nil%>
      <a href="/logout">Log Out</a><br>
    <%end%>
    <%=yield%>
  </body>
</html>